# C:/xampp/htdocs/2025_monitoring_bridging/.htaccess

<IfModule mod_rewrite.c>
    RewriteEngine on

    # Arahkan semua permintaan ke folder public
    # kecuali jika permintaan tersebut untuk file atau folder yang benar-benar ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>